.search-container { 
    display: grid;       
    padding-bottom: 100%;
 }
 .txt-field{
    display: grid;
    margin: 23px 10px 0px 10px;
}

.css-sqs87j-MuiInputBase-root-MuiOutlinedInput-root{
   margin-top: 2px;
}


